{include file="public/header"}
<div class="box">

	<div>
		<h3 style="color: red;font-weight: bold;">添加子分类</h3>
	</div>
	<form method="post" enctype="multipart/form-data" class="form" 
	action="{:url('saveSon')}">
	  <div class="form-group">
	    <label>子分类名称</label>
	    <input type="text" class="form-control" name="cate_name">
	    <input type="hidden" name="level" value="2">
	    <input type="hidden" name="pid" value="{$pid}">
	  </div>
	  <button type="submit" class="btn btn-danger" style="display: block;margin-top: 250px;">确认添加</button>
	</form>
</div>
<link rel="stylesheet" type="text/css" href="http://ueditor.baidu.com/umeditor/themes/default/css/umeditor.min.css">
<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="__PUBLIC__/static/admin/bootstrap-vue.min.js"></script>
<script src="__PUBLIC__/static/admin/baidu_editor/umeditor.config.js"></script>
<script src="__PUBLIC__/static/admin/baidu_editor/umeditor.min.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/library/dropify/dropify.min.css">
<script type="text/javascript" src="__PUBLIC__/static/library/dropify/dropify.min.js"></script>



<script type="text/javascript">
	
</script>
{include file="public/footer"}